
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 20% 96%; /* #F0F2F5 */
    --foreground: 240 10% 3.9%;

    --card: 220 20% 96%; /* Same as background */
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 226 83% 60%; /* #4560EC */
    --primary-foreground: 0 0% 100%;

    --secondary: 220 10% 90%;
    --secondary-foreground: 240 10% 3.9%;

    --muted: 220 10% 90%;
    --muted-foreground: 240 4% 46%;

    --accent: 325 66% 53%; /* #d73899 */
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 20% 88%;
    --input: 220 20% 88%;
    --ring: 226 83% 60%;

    --radius: 0.75rem;

    /* Sidebar specific colors */
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 10% 3.9%;
    --sidebar-primary: 226 83% 60%; 
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 96%;
    --sidebar-accent-foreground: 240 10% 3.9%;
    --sidebar-border: 0 0% 89.8%;
    --sidebar-ring: 226 83% 60%;
  }

  .dark {
    --background: 222 24% 14%; /* #1D2028 */
    --foreground: 0 0% 98%;

    --card: 222 24% 14%; /* Same as background */
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 226 83% 60%;
    --primary-foreground: 0 0% 100%;

    --secondary: 222 24% 20%;
    --secondary-foreground: 0 0% 98%;

    --muted: 222 24% 20%;
    --muted-foreground: 240 5% 65%;

    --accent: 325 66% 53%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 222 24% 22%;
    --input: 222 24% 22%;
    --ring: 226 83% 60%;

    /* Sidebar specific colors */
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 226 83% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 4% 16%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 4% 16%;
    --sidebar-ring: 226 83% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .dynamic-input-wrapper {
    display: inline-grid;
    vertical-align: top;
    align-items: center;
    position: relative;
    text-align: center;
  }
  .dynamic-input-wrapper::after,
  .dynamic-input-wrapper input,
  .dynamic-input-sizer {
    grid-area: 1 / 1 / 2 / 2;
    font: inherit !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    background: none !important;
    text-align: inherit;
  }
  .dynamic-input-wrapper .dynamic-input-sizer {
    visibility: hidden;
    white-space: pre;
  }
}
